@import "color";

body {
    background-color: $main;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: $secondary;
    font-size: 28px;
    margin: 20px;
}

p {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    font-size: 18px;
}

button {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ccc;
}